h1 {
    font-family: Montserrat, Helvetica, sans-serif !important;
    text-align: center;
    color: #042940;
}
.form-content {
    margin: 0 auto;
}
.form {
    margin: 0 auto;
    padding: 20px 40px;
    background: #D6D58E;
    width: 400px;
    height: auto;
    border-radius: 15px;
}
form {
    margin: 20px 0;
}
.form-label {
    margin-bottom: 5px;
    color: #042940;
}
.form-input {
    margin-bottom: 1rem;
}
button {
    text-align: center;
    margin: 0 auto;
    width: 100px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
label {
    font-family: Arial, Helvetica, sans-serif;
}
input {
    border: 0px;
    width: 90%;
    height: 30px;
    font-size: 16px;
    border-radius: 2px;
}
select {
    border: 0px;
    width: 90%;
    height: 30px;
    font-size: 16px;
    border-radius: 2px;
}
.submit-btn {
    display: flex;
    align-items: center;
}
